main-server/src/main/resources/application.properties
main-server/build/
main-server/out/

consumer-server/src/main/resources/application.properties
consumer-server/build/
consumer-server/out/
consumer-server/gradlew
consumer-server/gradlew.bat

common/src/main/resources/application.properties
common/build/
common/out/
common/gradlew
common/gradlew.bat

/build
.gradle/
.DS_Store

# IntelliJ IDEA files
.idea/
seat_data.json

# log
logs
